<%= form_with url: organization_orders_path do |f| %>
    <div class="form-group row">
      <%= f.label :order_num, "Search", class: "col-sm-2 col-form-label text-right"%>
      <div class="col-sm-8"><%= f.text_field :order_num, class: "form-control" %></div>
      <div class="col-sm-1 align-middle"><%= f.submit "Search", class: "btn btn-primary btn-sm" %></div>
    </div>
<% end %>