<div class="row">
    <div class="col">
        <strong class="card-body"><%= order_item.product.name %></strong>
        <p class="card-body"> <%= order_item.product.description %> </p>
    </div>
    <div class="col">
        <div>
            <strong>Amount Ordered: </strong>
            <span><%= product_units(order_item) %> </span>
        </div>
        <div>
            <strong>Amount Available: </strong>
        </div>
        <div>
            <strong>Amount Remaining: </strong>
        </div>
    </div>
</div>