<p id="notice"><%= notice %></p>

<div class="row">
    <div class= "col-4">
        <%= form_with model: @order, url: organization_order_path(current_org, @order),method: "get" do |f| %>
            <%= f.collection_select :sales_order_id, Order.all, :sales_order_id, :sales_order_id, {}, {class:"form-control", onchange: "this.form.submit()"} %>
        <% end %>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class = "nav-link active" data-toggle="tab" role="tab" href="#overview-tab">overview</a>
            </li>
            <li class="nav-item">
                <a class = "nav-link" data-toggle="tab" role="tab" href="#materials-tab">materials</a>
            </li>
        </ul>
    </div>


    <br>
    <div class="tab-content", id="order-show">
        <div class="card-body">
            <div class="tab-pan fade show active" id="overview-tab" role="tabpanel">
                <%= render partial: "overview", locals: {order: @order} %>
            </div>
            <div class="tab-pan fade" id="materials-tab" role="tabpanel">Goodbye World</div>
        </div>
    </div>
</div>
