<div class="d-flex flex-column">
    <div class="d-flex flex-row p-2 justify-content-center">
        <div class="text-light bg-dark p-3 m-1"><%= link_to "Create a New Organization", new_user_organization_path(current_user), class: "text-light" %></div>
    </div>
    <br>
    <%if current_user.organizations.count > 0%>
        <div class="d-flex flex-row p-2 justify-content-center">
            <div class="text-dard"><h3>Or Select an Organization</h3></div>
        </div>
        <% current_user.organizations.each do |o| %>
            <br>
            <div class="d-flex flex-row p-2 justify-content-center">
                <div class="text-light bg-dark p-3 m-1"><%= link_to o.name , "/#{o.to_param}", class: "text-light" %></div>
            </div>
        <% end %>
    <% end %>
</div>
