<div class="sidenav">
    <%= link_to "Dashboard", organization_root_path(current_org) %>
    <%= link_to "Orders", organization_orders_path(current_org) %>
    <%= link_to "Products", organization_products_path(current_org) %>
</div>