<div class="jumbotron">
    <div id="title">
        <h2><%= @product.name %></h2>
        <hr>
        <em><%= @product.description %></em>
        <br>
        <hr>
    </div>
    <div id="dimensions">
        <%= full_dimensions(@product)%>

    </div>
</div>
<% console %>